*{
	margin: 0;
	padding: 0;
	font-family: "montserrat", sans-serif;
}

.content-page h1{
	text-align: center;
	color:  #4d0026;
	font-size: 60px;
	text-shadow:0 0 10px #660033, 0 0 40px #660033, 0 0 80px #660033;
}

.border{
	width: 100px;
	height: 10px;
	background: #34495e;
	margin: 40px auto;
}

.contact-page{
	max-width: 600px;
	margin: auto;
	padding: 0 10px;
	overflow: hidden;
}

.content-page-text{
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 16px 0;
	border: 0;
	background: #111;
	padding: 20px 40px;
	outline: none;
	color: #ddd;
	transition: 0.5s;
}

 .content-page-text:focus{
	 box-shadow: 0 0 10px 4px #34495e;
 }

textarea.content-page-text{
	resize: none;
	height: 120px;
}

.content-page-btn{
	float: right;
	border: 0;
	background: #f00000;
	color: #fff;
	padding: 12px 50px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.5s;
}

.content-page-btn:hover{
	background: #f0cc00;
}











